{% include "agenda/base.html" %}
<div class="container">
    <div class="row">
        <h1>
            New Event
        </h1>
    </div>
    <div class="container_fluid row">
        <div class="col-10">
            {% include "agenda/bootstrapform.html" with form=form post_url_name="new_event" %}
        </div>
        {% if form.errors %}
            <div class="col">
                {% include "agenda/show_errors.html" with form=form %}
            </div>
        {% endif %}
    </div>
</div>